


<div class="row">
  <div class="col-sm-6">
    <h1>Campaigns</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_campaign_path, class: 'btn btn-primary' do %>
    Add New Campaign
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Description</th>
            <th>Status</th>
            <th>User</th>
            
      </tr>
    </thead>

    <tbody>
      <% @campaigns.each do |campaign| %>
        <%= content_tag :tr, id: dom_id(campaign), class: dom_class(campaign) do %>
          
            <td><%= link_to campaign.name, campaign %></td>
          

                      <td><%= campaign.description %></td>
                      <td><%= campaign.status %></td>
                      <td><%= campaign.user %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
